@use '../../styles/variables.scss' as variables;


.gameResult {
  animation: fade 0.5s ease-in-out;
}
.thumbnail {
  width: 100%;
  max-width: 1300px;
  height: auto;
  margin: 0 auto;
  display: block;
}

.title {
  color: variables.$secondary;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.description {
  color: variables.$secondary;
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 2rem;
}

.sectionTitle {
  color: variables.$secondary;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.actionButton {
  background-color: variables.$primary;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 1rem 2rem;
  border-radius: 0;
  text-align: center;
  transition: all 0.3s ease;
  z-index: 10;
  bottom: 20px;
  left: 20px;
  width: calc(100% - 40px);
  animation: pulse 2s infinite ease-in-out;

  @media screen and (min-width: 1024px) {
    position: relative;
    width: 100%;
    left: 0;
  }

  &:hover{
    background-color: variables.$primary-dark;
  }

  &_secondary{
    position: relative;
    z-index: 1;
    animation: none;
    background-color: transparent;
    border: 1px solid variables.$secondary;
    color: variables.$secondary;
  }
  
  &_tertiary{
    position: relative;
    z-index: 1;
    animation: none;
    background-color: transparent;
    border: 1px solid variables.$primary;
    color: variables.$primary;
  }

}

.screenshotImage {
  cursor: pointer;
  transition: transform 0.2s ease;

  &:hover {
    transform: scale(1.02);
  }
}

.fullscreenImage {
  width: auto;
  height: auto;
  max-width: 95vw;
  max-height: 95vh;
  object-fit: contain;
  margin: auto;
  display: block;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

